<div class="navbar-burger-menu navbar-burger-menu__user-info">
  {{#if this.currentUser.user}}
    <div class="navbar-burger-menu-user-info__item">
      <p class="navbar-burger-menu-user-info-item__name">
        {{this.currentUser.user.fullName}}
      </p>
      <p class="navbar-burger-menu-user-info-item__email">
        {{this.currentUser.user.email}}
      </p>
    </div>
  {{/if}}
  <LinkTo @route="logout" class="navbar-burger-menu-user-info__item navbar-burger-menu-user-info-item__logout">
    {{t 'navigation.user.sign-out'}}
  </LinkTo>
</div>

{{#unless this.isInRouteWithoutLinksInHeader}}
  <div class="navbar-burger-menu navbar-burger-menu__navigation">
    {{#if this.showDashboard}}
      <LinkTo @route="user-dashboard" class="navbar-burger-menu-navigation__item">
        {{t 'navigation.main.dashboard'}}
      </LinkTo>
    {{/if}}
    <LinkTo @route="profile" class="navbar-burger-menu-navigation__item">
       {{t 'navigation.main.profile'}}
    </LinkTo>

    <LinkTo @route="user-tutorials" class="navbar-burger-menu-navigation__item">
      {{t 'navigation.main.tutorials'}}
    </LinkTo>
    <LinkTo @route="classement" class="navbar-burger-menu-navigation__item">
      {{t 'navigation.main.classement'}}
      
    </LinkTo>
    <LinkTo @route="credit" class="navbar-burger-menu-navigation__item">
      {{t 'navigation.main.credit'}}
    </LinkTo>
  </div>
{{/unless}}
